<! DOCTYPE html>
<html lang="en">
  <head>
     <meta charset="utf-8">
     <title>Stage1</title>
     <style type="text/css">

     p{color:maroon;}

    

  body
  {background-color: rgb(200,200,200);}
   h1{
   	background-color: DarkCyan;}
   h2{
   	background-color: #ee3e80;
   }
   p{
   	background-color: white;
   }

    </style>
  </head>

  </html>
